@import "~bootstrap-icons/font/bootstrap-icons.css";

.cartItem {
  height: 5rem;
}
button{
  height: 2rem;
  width: 2rem;
  // padding: 0px;
  // text-align: center;
  // vertical-align: middle;
  // line-height: 2rem;
}

input{
  width: 2.5rem;
}

