<div class="card shadow border-0 my-2 py-2 pl-2 ">
  <div class="d-flex justify-content-between px-3">

    <div>
      
      <h5>{{menuItem.name}}</h5>
      <p class="text-secondary m-0">{{menuItem.description}}</p>
    </div>
    <div class="my-auto d-flex align-items-center">
      <p class="my-auto me-3">{{menuItem.price| currency: 'EUR':'symbol':'1.2-2'}}</p>
      <button *ngIf="buttonVisible" class="btn btn-primary btn-sm custom-button" (click)="addToCart()">Add to cart</button>
    </div>
  </div>
</div>